body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #04162df1;
    color: #fff;
    line-height: 1.6;
    text-shadow: 0px 0px 10px rgba(216, 61, 255, 0.904);
}

header {
    background: #174268bd;
    padding: 20px 0;
    color: #fff;
}

h1 {
    color: rgb(82, 189, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* background-color: #1A1A1A; */
}

#navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    margin-inline: 15px;
}

#navbar div {
    display: flex;
    margin-inline: 15px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: #4fa8f6;
    /* border: 1px solid rgba(255, 255, 255, 0.397); */
    text-shadow: 0px 0px 10px rgba(238, 171, 255, 0.904);
}

#home,
#features,
#install,
#contact {
    /* padding-bottom: 100px; */
    padding-bottom: auto;
    /* padding-top: 40px; */
}

#home {
    background: #103453bd;
}

#features {
    background: #052847bd;
}

#install {
    background: #04223cb9;
}

.container {
    padding-bottom: 50px;
    padding-inline: 50px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container:hover {
    background-color: #5050500e;
    transition: background-color 0.5s;
}

.feature-list {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.feature {
    background: #0080ff00;
    padding: 20px;
    border-radius: 10px;
    flex-basis: 80%;
    margin-bottom: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.8); */
    box-shadow: 0px 0px 10px rgba(73, 106, 214, 0.7);
}

.feature:hover {
    box-shadow: 0px 0px 10px rgba(89, 225, 234, 0.7);
}

.feature h3 {
    color: rgb(82, 189, 255);
}

.download-button {
    display: inline-block;
    background: #4fa8f6;
    color: #161b22;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}

footer {
    background: rgba(5, 26, 45, 0.428);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .feature-list {
        grid-template-columns: 1fr;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar a {
        margin: 5px 0;
    }
}